<h1>Sitemap Generator</h1>

<form class="url-form" action="results" method="POST">
  <input name="url" />
  <input type="submit" value="Verify" id="verify">
</form>

<%= if flash[:domain_error]
  "<p/>#{flash[:domain_error]}</p>"
end %>
