<h1>Results</h1>

<p>Results for domain: <%= @url.url %></p>

<%=

  @crawl.processed.each do |link|
    "<p>" + link[0] + "</p>"
    if link[1] == true
      "<p>link crawled</p>"
    end
  end


 %>
